;    -*- mode: ahk -*-
; capslock+TAB 是大写锁定
TAB::
if (KeyboardCaps = 1)
{
  SetCapsLockState, off
  KeyboardCaps := ""
}
else
{
  SetCapsLockState, on
  KeyboardCaps := 1
}
CapsLock2 := ""
return

; capslock+` 来开关快捷键
`::
if (KeyboardOn = 1)
{
  KeyboardOn := ""
  Menu, Tray, Icon, %IconMark%, , 1
}
else
{
  KeyboardOn := 1
  Menu, Tray, Icon, %IconNum%, , 1
}
CapsLock2 := ""
return
#If